.actionplan-card {
  background-color: #a6bb8d !important;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.actionplan-card:hover {
  background-color: #66794f !important;
  color: black !important;
}
