.homeText {
  background-color: #A6BB8D;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
  max-width: 80%;
  width: 100%;
}

.homeDiv {
  background-color: #A6BB8D;
}

.homeImg {
  width: 40%;
  height: auto;
}