.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 8vh;
  }
  
  .footer-text {
    text-align: center;
    margin: 0;
    padding-top: 10px;
    font-size: 14px;
    color: #fff;
  }
  
  .github-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  
  .navbar {
    background-color: #3C6255;
    width: 100%;
  }

  .gitname {
    color: #fff;
    font-size: 16px;
  }
  