.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 7vh;
  z-index: 2;
}

.footer-text {
  text-align: center;
  margin: 0;
  padding-top: 10px;
  font-size: 14px;
  color: #fff;
}

.github-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.navbar {
  background-color: #3c6255;
}

.gitname {
  color: #fff;
  font-size: 16px;
}
