.footer {

 
}


.footer-text {
  text-align: center;
  margin: 0;
  padding-top: 10px;
  font-size: 12px;
  color: #fff;

}

.footer-text p{
  margin-top: 0;
}

.github-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.navbar {
  background-color: #3c6255;
}

.gitname {
  color: #fff;
  font-size: 12px;
  text-decoration: none;
}
